# Standard directories
bin
doc
dow
other
proj
tmp

# Symlinks
amme2000
amme2500
mech2400
mtrx2700
siri

# Other
.bash_history
.cache
.dots.git
.gazebo
.ros
.rviz2
.ssh
.sudo_as_admin_successful
.Xauthority
